<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ordonnance</title>
    <style>

    @page {
        size: A4;
        margin: {{marginTop}}mm 5mm 25mm 5mm;
        padding: 0;
    }

    body {
        font-family: Arial;
        font-size: 13px;
    }

    header {
        position: fixed;
        left: 0;
        right: 0;
        top:0
    }

    footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .page-break-after {
        page-break-after: always;
    }

    .barcode {
        width: 150px;
        font-size: 11px;
    }

    .barcode .barcode-text {
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 12pt;
        text-align: right;
    }

    .duplicata {
        color: red;
        font-weight: bold;
        text-transform: uppercase;
    }

    .original {
        color: #AAAAAA;
        font-weight: bold;
        text-transform: uppercase;
    }

    ul.prescriptions {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
    }

    ul.prescriptions li {
        margin: 5mm 0;
    }

    ul.prescriptions .H2 {
        margin: 0;
        font-size: 11pt;
        font-weight: bold;
    }

    </style>
</head>
{{#if headerEnable}}
<!-- Header content here if headerEnable is true -->
{{else}}
<header>
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%; vertical-align: top;">
        <strong>{{ident_prat}}</strong>
        <br />
        {{adresse}}
      </td>
      <td style="width: 50%; text-align: right; vertical-align: top;">
        {{complement_entete}}
      </td>
    </tr>
  </table>
  {{#if rppsNumber}}
  <div style="margin-top: 5mm;">
    <div class="barcode" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
      <div class="barcode-text">
        N° RPPS
      </div>
      <!-- Assuming there's a helper 'generateHtml' to generate the barcode -->
      <img src="{{imgRppsNumber}}" style="padding: 5px 10px; width:150px"/>
      <div class="barcode-text">
        {{rppsNumber}}
      </div>
    </div>
  </div>
  {{/if}}
</header>
<footer>
  {{#if finessNumber}}
  <div class="barcode" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div class="barcode-text" style="width: 100%;">
      N° FINESS/AM
    </div>
    <!-- Assuming there's a helper 'generateHtml' to generate the barcode -->
    <img src="{{imgFinessNumber}}" style="padding: 5px 0px; width:150px">
    
    <div class="barcode-text" style="width: 100%">
      {{finessNumber}}
    </div>
  </div>
  {{/if}}
</footer>
{{/if}}

{{#each versions}}
  <div {{#if (ne versionsLength @index)}}class="page-break-after"{{/if}} style="padding: 200px 20px 50px 20px">
  <h1 style="line-height: normal; margin: 0;">
    {{#if (eq this 'duplicata')}}
    <span class="duplicata">duplicata</span>
    {{else}}
    <span class="original">original</span>
    {{/if}}
    Ordonnance du {{../date_ordonnance}} pour {{../ident_patient}}
  </h1>
  <ul class="prescriptions">
    {{{../prescriptions}}}
  </ul>
  <div style="margin-bottom: 20px;">
    {{../numberOfPrescription}}
  </div>
  {{#if ../hasComment}}
  <div style="margin-bottom: 20px;">
    {{../comment}}
  </div>
  {{/if}}
  <table style="width: 100%">
    <tbody>
      <tr>
        <th style="width: 50%; text-align: right; vertical-align: top;">Signature du prescripteur :</th>
        <td style="width: 50%;">
          {{#if ../hasMedicalOrderSignaturePraticien}}
          <img src="{{../medicalOrderSignaturePraticien}}" style="max-height: 150px;" />
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{/each}}

</html>