<style type="text/css">
@page{
  size: A4 {{#if landscape}}landscape{{/if}};
}
table {
    width: 100%;
}

table td,
table th {
    padding: 2mm;
    white-space: wrap;
}

div.header {
    margin: 5mm;
}

div.header div.h1 {
    font-size: 12pt;
    margin-bottom: 2mm;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.important {
    color: red;
}

.signature {
    height: 25mm;
}

</style>
<div class="header">
  <div class="h1 text-center">
    <strong
      >Modalité de règlement du devis du {{date}} - réf : {{reference}}</strong
    >
  </div>
  <div class="text-center">
    <strong
      >Pour traitements et actes bucco-dentaires pouvant faire l'objet d'une entente directe.</strong
    >
  </div>
  <div class="text-center">Les soins à tarifs opposables ne sont pas compris dans ce devis.</div>
  <div class="text-center important">
    Ce devis est la propriété du patient, sa communication à un tiers se fait sous sa seule responsabilité.
  </div>
</div>
<table cellspacing="4" border="0">
  <col style="width: 50%" />
  <col style="width: 50%" />
  <tbody>
    <tr>
      <td rowspan="2" style="background-color: #e0e6f4">
        <table>
          <col style="width: 100%" />
          <tbody>
            <tr>
              <td>
                <strong>Identification du Chirurgien-Dentiste traitant (avec numéro ADELI/FINESS)</strong>
              </td>
            </tr>
            <tr>
              <td>{{{ doctor.details }}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="background-color: #e0e6f4">
        <table>
          <col style="width: 70%" />
          <col style="width: 30%" />
          <tbody>
            <tr>
              <td>
                <strong>Date d'établissement du devis</strong>
              </td>
              <td class="text-right">{{ date}}</td>
            </tr>
            <tr>
              <td>
                <strong>Durée de validité du devis</strong>
              </td>
              <td class="text-right">{{ duration }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="background-color: #e0e6f4">
        <table>
          <col style="width: 50%" />
          <col style="width: 50%" />
          <tbody>
            <tr>
              <td>Identification du patient</td>
              <td class="text-right">{{ patient.number }}</td>
            </tr>
            <tr>
              <td>
                <strong>Nom et prénom</strong>
              </td>
              <td class="text-right">{{ patient.lastname }} {{ patient.firstname }}</td>
            </tr>
            <tr>
              <td>
                <strong>Date de naissance</strong>
              </td>
              <td class="text-right">
                {{#if patient.birthday}} {{ patient.birthday }} {{/if}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>N° INSEE de l'assuré</strong>
              </td>
              <td class="text-right">{{ patient.insee }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div style="margin: 5mm;">
    {{#if patient.insee}}
      {{patient.civility.long_name}} {{patient.lastname}} {{patient.firstname}} ({{patient.insee}}) s'engage à régler la somme de {{payment_schedule.amount}} selon les échéances indiquées ci-dessous. 
    {{else}}
    {{patient.civility.long_name}} {{patient.lastname}} {{patient.firstname}} s'engage à régler la somme de {{payment_schedule.amount}} selon les échéances indiquées ci-dessous.
    {{/if}}
</div>
<table cellspacing="4" border="0">
    <col style="width: 70%;">
    <col style="width: 30%;">
    <thead>
        <tr>
            <th>Echéances</th>
            <th>Montants</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th style="text-align: right;">Total</th>
            <th style="text-align: right;">
                {{ payment_schedule.amount}}
            </th>
        </tr>
    </tfoot>
    <tbody>
        {{#each payment_schedule.lines }}
        <tr>
            <td style="background-color: #F6F6F6;">
                {{ this.date}}
            </td>
            <td style="background-color: #F6F6F6; text-align: right;">
                {{ this.amount}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<table>
  <col style="width: 48%" />
  <col style="width: 4%" />
  <col style="width: 48%" />
  <tbody>
    <tr>
      <td class="signature">
        <div>Bon pour accord</div>
        <div>Date et signature du patient ou de son représentant légal</div>
        {{#if patient.signature}}
        <div>
          <!-- Signature patient -->
          <img src="{{ patient.signature }}" style="max-height: 150px" />
        </div>
        {{/if}}
      </td>
      <td></td>
      <td class="signature">
        <div>Signature du praticien</div>
        {{#if doctor.signature}}
        <div>
          <!-- Signature praticien -->
          <img src="{{ doctor.signature }}" style="max-height: 150px" />
        </div>
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>




