
    <style>

    @page {
      size: A4;
        margin: 15mm;
        padding: 0;
    }


    h1 {
        text-align: center;
        font-size: 16px;
        margin: 50px 0;
    }

    img {
        margin-top: 5mm;
    }

    </style>

<Page>
    <div>
        {{#if header}}
        {{ header}}
        {{else}}
        <div>
            Docteur  {{user.fullName}}
        </div>
        {{#if user.address}}
        <div>
            <div>
                {{ user.address.street }}
            </div>
            {{#if user.address.streetComp}}
            <div>
                {{ user.address.streetComp }}
            </div>
            {{/if}}
            <div>
                {{ user.address.zipCode }} {{ user.address.city }}
            </div>
        </div>
        {{/if}}
        {{#if user.medical.finessNumber}}
        <div>
            Numéro ADELI: {{ user.medical.finessNumber }}
        </div>
        {{/if}}
        {{/if}}
    </div>
    <h1>
        Reçu
    </h1>
    <p>
        {{#if isRefund }}
        <strong>Reçu par : </strong>{{ patient.firstname }} {{ patient.lastname }}
        {{else}}
        <strong>Reçu par : </strong>{{ user.firstname }}  {{ user.lastname }}    
        {{/if}}
    </p>
    <p>
        {{#if isRefund}}
        <strong>De : </strong>{{ user.firstname }} {{ user.lastname }} 
        {{else}}
        <strong>De : </strong>{{ patient.firstname }} {{ patient.lastname }}
        {{/if}}
    </p>
    <p>
        <strong>La somme totale de : </strong>{{ amount}} ({{ amountSpellout }})
    </p>
    <p>
        Remis le {{time}}
    </p>
    {{#if paymentChoice}}
    <p>
        {{#if isRefund}}
        Le remboursement a été fait en : {{paymentChoice}}
        {{else}}
        Le paiement a été fait en : {{paymentChoice}}
        {{/if}}
    </p>
    {{/if}}
    <div>
        Signature
        <div>
            {{#if user.signature}}
            <img src="{{ user.signature }}" />
            {{/if}}
        </div>
    </div>
</Page>
</html>
