<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <style>
    page_header span {
      font-style: italic;
      font-size: 11px;
    }

    table {
      width: 100%;
    }

    td,
    th {
      overflow: hidden;
    }

    td.ctn {
      background-color: #fafafa;
      padding: 1.5mm 2mm;
    }

    .events td div {
      padding: 1mm;
    }

    .events tr.even td {
      background-color: #fafafa;
    }

    .picture {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    div.title {
      padding: 5mm 0;
      font-weight: bold;
      font-size: 18pt;
    }

    div.subtitle {
      padding: 0.6mm;
      margin: 0 0 2mm;
      background-color: #333;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16pt;
    }

    .description {
      border: solid 0.1mm #999;
      padding: 2mm;
      margin: 4mm 0;
      height: 20mm;
    }

    .slipCheckNbr {
      position: absolute;
      top: 0;
      right: 0;
    }

    .cashingCollection {
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 2mm;
      width: 100%;
    }

    .cashingCollection td,
    .cashingCollection th {
      padding: 2mm;
    }

    .cashingCollection th {
      text-align: center;
    }

    .cashingCollection tbody td,
    .cashingCollection th {
      border: solid 1px black;
    }

    .cashingCollection .debtor {
      width: 45%;
    }

    .cashingCollection .amount {
      width: 15%;
    }

    .cashingCollection .checkNbr {
      width: 20%;
    }

    .cashingCollection .checkBank {
      width: 20%;
    }

    .cashingCollection td.amount {
      text-align: right;
    }
  </style>
</head>

<body>
  <div>
    <h2>{{patientFullName}}</h2>
    <div class="subtitle">Etat civil</div>
    <div style="position: relative; color: #333; font-size: 10pt;">
      <table cellspacing="0">
        <col style="width: 33%;">
        </col>
        <col style="width: 34%;">
        </col>
        <col style="width: 33%;">
        </col>
        <tr>
          <td class="ctn">
            <strong>Nom</strong>
          </td>
          <td class="ctn">
            {{patientLastName}}
          </td>
          <td class="ctn" rowspan="6">
            <p>{{patientEmail}}</p>
            {{#each phoneNumbers}}
            {{this}} <br />
            {{/each}}
          </td>
        </tr>
        <tr>
          <td class="ctn">
            <strong>Prénom</strong>
          </td>
          <td class="ctn">
            {{patientFirstName}}
          </td>
        </tr>
        <tr>
          <td class="ctn">
            <strong>Numéro de sécurité social</strong>
          </td>
          <td class="ctn">
            {{patientInsee}}
          </td>
        </tr>
        <tr>
          <td class="ctn">
            <strong>Date de naissance</strong>
          </td>
          <td class="ctn">
            {{patientBirthDate}}
          </td>
        </tr>
        <tr>
          <td class="ctn">
            <strong>Adresse postale</strong>
          </td>
          <td class="ctn">
            {{patientAddress}}
          </td>
        </tr>
        <tr>
          <td class="ctn">
            <strong>Adressé par</strong>
          </td>
          <td class="ctn">
            {{{patientAddressBy}}}
          </td>
        </tr>
      </table>
    </div>
    {{#if observation}}
    <div class="description">{{{observation}}}</div>
    {{/if}}
    {{#ifCond patientHistory.length '>' 0}}
    <br />
    <br />
    <div class="subtitle">Historique</div>
    <table class="cashingCollection">
      <thead>
        <tr>
          <th style="width: 12%;">Date</th>
          <th style="width: 54%;">Libellé</th>
          <th style="width: 10%;">Dents</th>
          <th style="width: 12%;">Cotation</th>
          <th style="width: 12%;">Tarif</th>
        </tr>
      </thead>
      <tbody>
        {{#each patientHistory}}
        <tr>
          <td style="width: 12%; text-align: center;">{{date}}</td>
          <td style="width: 54%;">{{name}}</td>
          <td style="width: 10%; text-align: center;">{{{teeth}}}</td>
          <td style="width: 12%; text-align: center;">{{cotation}}</td>
          <td style="width: 12%; text-align: center;">{{amount}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/ifCond}}
  </div>
</body>

</html>