<h1 class="mb-5 text-lg text-center font-weight-light" style="font-family: Roboto;">
	Informations
</h1>
<div class="d-flex mb-4">
	<div class="dropdown">
		<button type="button" class="d-inline-block border-box border rounded h-10 leading-10 px-3 mr-2 bg-transparent btn-outline-primary dropdown-toggle" title="Télécharger l'attestation DMP" data-toggle="dropdown">
			<i class="fas fa-file-pdf text-base align-text-bottom"></i>
			<span class="mx-2">Attestation DMP</span>
			<i class="fas fa-caret-down text-base align-text-bottom"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			{% for user in organization.users %}
				<li>
					<a role="menuitem" href="{{ url('php/user/attestations/dmp.php?id=' ~ user.id) }}">
						{{ user.lastName ~ ' ' ~ user.firstName }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<a href="https://solidarites-sante.gouv.fr/soins-et-maladies/maladies/maladies-infectieuses/coronavirus/professionnels-de-sante/" target="_blank" class="d-inline-block border-box border rounded h-10 px-3 mr-2 leading-10 btn-outline-primary" title="Accéder aux dernières informations du ministère des solidarités et de la santé concernant le COVID-19">
		<i class="fas fa-head-side-mask text-base align-text-bottom mr-2"></i>
		COVID-19
	</a>
</div>
<div class="accordion" id="about_accordion">
    <div class="accordion-group border-0 rounded-0">
        <div class="accordion-heading">
            <a class="accordion-toggle bg-light text-dark" data-toggle="collapse" data-parent="#about_accordion" href="#about_accordion_1">
                <i class="fas fa-hdd fa-fw"></i> Espace de stockage
            </a>
        </div>
	    <div class="accordion-body collapse in" id="about_accordion_1">
            <div class="accordion-inner border-0 p-3">
                <div class="progress mb-1">
                    <div class="progress-bar" style="width: {{ (organization.quotaBytesUsed * 100 / organization.quotaBytesTotal)|number_format(2, '.', '') }}%;"></div>
                </div>
                <div class="text-muted mb-2 px-2">
                    {{ '%quotaBytesUsed% utilisés sur %quotaBytesTotal%'|trans({'%quotaBytesUsed%': organization.quotaBytesUsed|format_bytes, '%quotaBytesTotal%': organization.quotaBytesTotal|format_bytes}) }}
                </div>
                <div>
                    <a href="{{ url('settings/group/storage.php') }}" class="d-inline-block border-box border rounded h-10 px-3 leading-10 btn-outline-primary">
                        Acheter de l'espace de stockage
                    </a>
                </div>
            </div>
        </div>
	</div>
    <div class="accordion-group border-0 rounded-0">
        <div class="accordion-heading">
		    <a class="accordion-toggle bg-light text-dark collapsed" data-toggle="collapse" data-parent="#about_accordion" href="#about_accordion_2">
			    <i class="fas fa-mobile fa-fw"></i> Nombre de sms
            </a>
        </div>
        <div class="accordion-body collapse" id="about_accordion_2">
            <div class="accordion-inner border-0 p-3">
                <div class="text-muted mb-1 px-2">
                    {% if organization.smsShared %}Le partage de sms est activé{% else %}Le partage de sms est désactivé{% endif %}
                </div>
                <div class="d-grid grid-cols-2 gap-1 mb-2">
                    {%- if organization.smsShared -%}
                        <div class="border rounded p-2 text-dark d-flex align-items-center gap-2">
                            <span class="text-truncate">Tout le monde</span>
                            <span class="tag {% if organization.smsQuantity < 50 %}tag-danger{% endif %}">{{ organization.smsQuantity }}</span>
                        </div>
                    {% else %}
                        {% for user in organization.users %}
                            <div class="border rounded p-2 text-dark d-flex align-items-center gap-2">
                                <span class="text-truncate flex-fill">{{ user.lastName ~ ' ' ~ user.firstName }}</span>
                                <span class="tag {% if user.smsQuantity < 50 %}tag-danger{% endif %}">{{ user.smsQuantity }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <a href="{{ url('settings/notification/index.php') }}" class="d-inline-block border-box border rounded h-10 px-3 leading-10 btn-outline-primary">
                        Acheter des sms
                    </a>
                </div>
		    </div>
	    </div>
    </div>
    <div class="accordion-group border-0 rounded-0">
        <div class="accordion-heading">
		    <a class="accordion-toggle bg-light text-dark collapsed" data-toggle="collapse" data-parent="#about_accordion" href="#about_accordion_3">
			    <i class="fas fa-keyboard fa-fw"></i> Raccourcis clavier
            </a>
        </div>
        <div class="accordion-body collapse" id="about_accordion_3">
            <div class="accordion-inner border-0 p-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th class="w-1/4">Windows</th>
                            <th class="w-1/4">Macintosh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nouveau patient<br /><em class="text-muted">Mode application uniquement</em></td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">N</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">N</span></td>
                        </tr>
                        <tr>
                            <td>Rechercher un patient</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">F</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">F</span></td>
                        </tr>
                        <tr>
                            <td>Lire une carte Vitale</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">V</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">V</span></td>
                        </tr>
                        <tr>
                            <td>État civil du patient</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">E</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">E</span></td>
                        </tr>
                        <tr>
                            <td>Soins du patient</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">S</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">S</span></td>
                        </tr>
                        <tr>
                            <td>Recettes du patient</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">L</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">L</span></td>
                        </tr>
                        <tr>
                            <td>Devis du patient</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">D</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">D</span></td>
                        </tr>
                        <tr>
                            <td>Créer une ordonnance</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">O</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">O</span></td>
                        </tr>
                        <tr>
                            <td>Ouvrir une passerelle radio</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">I</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">I</span></td>
                        </tr>
                        <tr>
                            <td>Masquer les post-its<br /><em class="text-muted">Mode application uniquement</em></td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">W</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">W</span></td>
                        </tr>
                        <tr>
                            <td>Journal des encaissements</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">U</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">U</span></td>
                        </tr>
                        <tr>
                            <td>Télétransmission<br /><em class="text-muted">Mode application uniquement</em></td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">T</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">T</span></td>
                        </tr>
                        <tr>
                            <td>Correspondants</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">K</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">K</span></td>
                        </tr>
                        <tr>
                            <td>Agenda</td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">A</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">A</span></td>
                        </tr>
                        <tr>
                            <td>Aller à la semaine précedente</td>
                            <td><span class="kbd">←</span></td>
                            <td><span class="kbd">←</span></td>
                        </tr>
                        <tr>
                            <td>Aller à la semaine suivante</td>
                            <td><span class="kbd">→</span></td>
                            <td><span class="kbd">→</span></td>
                        </tr>
                        <tr>
                            <td>Aller à aujourd'hui<br /><em class="text-muted">Mode application uniquement</em></td>
                            <td><span class="kbd">Ctrl</span> + <span class="kbd">J</span></td>
                            <td><span class="kbd">Cmd</span> + <span class="kbd">J</span></td>
                        </tr>
                        <tr>
                            <td>Ouvrir le centre d'aide</td>
                            <td><span class="kbd">F1</span></td>
                            <td><span class="kbd">F1</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-right" style="font-family: Roboto;">
    <span>&copy; DENTALVIA MEDILOR · Version {{ versionNumber }}</span>
</div>
