<page
  backtop="{{#if duplicata}} 10mm {{else}} 0mm {{/if}}"
  backright='0mm'
  backbottom='0mm'
  backleft='0mm'
  style="page-break-before: always"
>
 <div class="body" >
{{#if duplicata}} <header><span style="color: red; font-size: 14pt;">DUPLICATA</span></header> {{/if}}

  <H1>
    Proposition therapeutique
</H1>
<div class="sousH1">
    {{nom_prenom_patient}}
</div>
<P style="margin-bottom: 0mm;">
    Suite à l’examen clinique et aux examens complémentaires que nous avons réalisés, et après avoir évalué les différentes alternatives, voici la proposition thérapeutique que nous vous proposons.<BR>
    Vous y trouverez précisés :</P>
<UL>
    <LI>la description du traitement envisagé et les modalités de réalisation ;</LI>
    <LI>les honoraires et la participation de la Sécurité Sociale pour les actes nomenclaturés ;</LI>
</UL>

<H2>I. Description du traitement :</H2>
<P class="infosCompl">Nature du traitement :</P>
{{#if pdf}}
    <pre class="infosCompl">{{infosCompl}}</pre>
{{else}}
    <textarea class="infosCompl" name="infosCompl">{{infosCompl}}</textarea>
{{/if}}

<div class="schema">
    {{{schemaDevis}}}
</div>
<P><SPAN style="font-weight: bold;">Remarque :</SPAN><BR>
    Les radiographies et certains soins courants seront réalisés selon les besoins de l’avancement du traitement ; de ce fait, ils ne sont pas inclus dans le montant total ;</P>
<P>Une réévaluation pourra être nécessaire en cours de traitement en fonction du traitement et l’amélioration de l’état général et bucco-dentaire et de la cicatrisation s’il y a lieu.<BR>
    Si l’alliage utilisé est un métal précieux, une facture vous sera délivrée par le fournisseur de métaux, en fonction du poids de l’alliage utilisé. Il en sera de même pour la fourniture de connectique implantaire.</P>
<P style="font-style: italic;">De nombreux actes thérapeutiques ne figurent pas à la nomenclature générale des actes professionnels, notamment les implants, les couronnes provisoires, la dépose des éléments existants, les reprises de traitements canalaires, les actes de prévention, les traitements des infections de gencives ... et à ce titre ne donnent pas lieu à une participation de la Caisse d’Assurance Maladie (actes HN, hors nomenclature). Seule votre mutuelle peut participer.</P>
</div>
</page>