<div style='page-break-after: always; '></div>
<page>
  <div class='page2-header'>
    {{{nl2br quotationMutualTitle}}}
  </div>
  <div class='ident'>
    <div class='col-1'>
      <div class='ident_prat'>
        <span style='font-style: italic'>Identification du Chirurgien-dentiste
          traitant<br />(avec numéro ADELI/FINESS) :</span>
        <div class='textarea'>
          {{{nl2br ident_prat}}}
        </div>
      </div>
      <div class='ident_dev'>
        <div class='form'>
          <div>
            Date d'établissement du devis :
            <span class='input' style='width: 180px'>
              {{date_devis}}
            </span>
          </div>
          <div>
            Durée de validité du devis :
            <span class='input' style='width: 199px'>
              {{duree_devis}}
            </span>
          </div>
        </div>
        <div class='form'>
          <div style='font-style: italic; font-weight: normal'>
            Identification du patient :
            <span class='input' style='width: 215px'>
              {{ident_pat}}
            </span>
          </div>
          <div>
            Nom et prénom :
            <span class='input' style='width: 250px'>
              {{nom_prenom_patient}}
            </span>
          </div>
          <div>
            Date de naissance :
            <span class='input' style='width: 240px'>
              {{#if date_de_naissance_patient}}
                {{date_de_naissance_patient}}
              {{else}}
                &nbsp;
              {{/if}}
            </span>
          </div>
          <div>
            N° INSEE de l'assuré :
            <span class='input' style='width: 220px'>
              {{INSEE}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='col-2'>
    </div>
  </div>

  <div class='details'>
    <h3
      class='title border-b border-black text-[#818284] text-[12px] text-center font-bold py-[5px]'
    >
      Description précise et détaillée des actes :
    </h3>
    <div class='details-head'>
      <div style='width: 5%' class='w-[5%]'>
        Localisation<br />ou N° dent
      </div>
      <div style='width: 27%' class='item'>
        Nature de l'acte<br />ou libellé CCAM
      </div>
      <div style='width: 4.4%' class='item'>Matériaux<br />utilisés</div>
      <div style='width: 6.4%' class='item'>
        Cotation
      </div>
      <div style='width: 8.2%' class='item'>Tarif Sécu</div>
      <div style='width: 8.2%' class='item'>Honoraires</div>
      <div style='width: 8.2%' class='item'>Remb.<br />Sécu</div>
      <div style='width: 8.2%' class='item'>Remb.<br />Mutuelle</div>
      <div style='width: 8.2%' class='item'>Remb. Mut.<br />Complément</div>
      <div style='width: 8.2%' class='item'>A la charge<br />du patient</div>
      <div style='width: 8.2%' class='item'>
        Réservé<br />à l'organisme<br />complémentaire
      </div>
    </div>
    <div style='width: 100%;' class='details-body'>
      {{#each ar_details}}
        {{#if this.id_devis_acte}}
          <div class='details-tr'>
            <div
              style='width: 5%; border:none;'
              class='item'
            >{{this.localisation}}</div>
            <div
              style='width: 27%; text-align: left'
              class='item'
            >{{this.libelle}}</div>
            <div
              style='width: 4.4%; text-align: center'
              class='item'
            >{{this.materiau}}</div>
            <div
              style='width: 6.4%; text-align: center'
              class='item'
            >{{this.cotation}}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.prixvente
              }}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.prestation
              }}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.charges
              }}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.honoraires
              }}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.rss
              }}</div>
            <div style='width: 8.2%' class='item'>{{formatAmount
                this.nrss
              }}</div>
            <div style='width: 8.2%' class='item'>{{this.roc}}</div>
          </div>
        {{else}}
          <div class='details-tr'>
            <div
              style='width: 5%; border:none;'
              class='item'
            >{{this.localisation}}</div>
            <div
              style='width: 27%; text-align: left'
              class='item'
            >{{this.libelle}}</div>
            <div
              style='width: 4.4%; text-align: center'
              class='item'
            >{{this.materiau}}</div>
            <div
              style='width: 6.4%; text-align: center'
              class='item'
            >{{this.cotation}}</div>
            <div style='width: 8.2%; color: transparent' class='item'>a</div>
            <div style='width: 8.2%' class='item'></div>
            <div style='width: 8.2%' class='item'></div>
            <div style='width: 8.2%' class='item'></div>
            <div style='width: 8.2%' class='item'></div>
            <div style='width: 8.2%' class='item'></div>
            <div style='width: 8.2%' class='item'></div>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class='details-footer'>
      <div
        style='width: 42.8%; background-color: #cacbcd; border-left: none'
        class='item'
      >
        TOTAL (in euros) -&gt;
      </div>
      <div class='item'>{{formatAmount total_prixvente}}</div>
      <div class='item'>{{formatAmount total_prestation}}</div>
      <div class='item'>{{formatAmount total_charges}}</div>
      <div class='item'>{{formatAmount total_honoraires}}</div>
      <div class='item'>{{formatAmount total_rss}}</div>
      <div class='item'>{{formatAmount total_nrss}}</div>
      <div class='item'></div>
    </div>
  </div>

  <div class='total'>
    <div class='total-item'>
      Total des honoraires :
      {{formatAmount quotationAmount}}
      €
    </div>
    <div class='total-item'>
      Remboursements :
      {{formatAmount quotationPersonRepayment}}
      €
    </div>
    <div class='total-item'>
      A la charge du patient :
      {{formatAmount quotationPersonAmount}}
      €
    </div>
  </div>

  <div class='total page1'>
    <p class='italic' style='color: #00529e'>
      Le patient reconnaît avoir eu la possibilité du choix de son traitement.
    </p>
  </div>

  <div class='page-footer'>
    <div>
      <p>Date et signature du patient ou du responsable légal :</p>
      {{#if quotationSignaturePatient}}
        <img
          style='position: absolute; width: {{quotationSignaturePatient.width}}px; height: {{quotationSignaturePatient.height}}px; left: 30%; bottom: 0;'
          src='{{quotationSignaturePatient.src}}'
        />
      {{/if}}
    </div>
    <div>
      <p>Signature du Chirurgien-dentiste :</p>
      {{#if quotationSignaturePraticien}}
        <img
          style='position: absolute; width: {{quotationSignaturePraticien.width}}px; height: {{quotationSignaturePraticien.height}}px; left: 70%; bottom: 0;'
          src='{{quotationSignaturePraticien.src}}'
        />
      {{/if}}
    </div>
  </div>
</page>