  <head>
    <style>
      @page {
        size: a4 landscape;
      }
      tbody, thead, table {
        width: 100%;
        font-size: 9pt;
      }
      tr {
        width: 100%;
        display: flex;
      }
      td, th {
        padding: 4px;
        border-top: 1px solid black;
        border-left: 1px solid black;
      }

      .col-1 {
        width: 8.33%;
        text-align: center;
      }

      .col-2 {
        width: 16.66%;
      }

      .col-6 {
        width: 50%;
      }
    </style>
  </head>
  <Page>
    <table>
        <tr>
          <th class='visitDate col-1'>Date visite</th>
          <th class='patient col-6'>Patient</th>
          <th class='phoneNumbers col-2'>Téléphone</th>
          <th class='amount col-1'>Solde</th>
          <th class='relaunchLevel col-1'>Niveau</th>
          <th class='relaunchDate col-1' style="border-right: 1px solid black;">Date relance</th>
        </tr>
        {{#each patientBalances}}
            <tr>
                <td class="visitDate col-1">{{dateShort this.lastCare }}</td>
                <td class="patient col-6" style="text-align: left;">{{ this.patient.firtName }} {{this.patient.lastname}}</td>
                <td class="phoneNumbers col-2 " style="text-align: left;">
                    {{#each this.patient.phones }}
                      {{#if (eq @index 0)}} - {{/if}}
                    <span class="number">{{ this.number }}</span>
                    {{/each}}
                </td>
                <td class="amount col-1" style="text-align: right;">{{amountCurrency this.amount ../currency}}</td>
                <td class="relaunchLevel col-1">{{ this.relaunchLevel }}</td>
                <td class="relaunchDate col-1" style="border-right: 1px solid black;">
                    {{#if this.relaunchDate }}
                    {{dateShort this.relaunchDate }}
                    {{/if}}
                </td>
            </tr>
          {{/each}}
            <tr>
                <td style="width: 73.2%; border-bottom: 1px solid black;" ></td>
                <td style="width: 8%; border-bottom: 1px solid black; text-align:right" >{{amountCurrency totalAmount currency}}</td>
                <td style="width: 16.66%; border-right: 1px solid black; border-bottom: 1px solid black;"></td>
            </tr>
    </table>
  </Page>