<head>
  <title>Bordereau de remise {{slipCheck.number}}</title>
 <style>

    @page {
        margin: 5mm;
        padding: 0;
    }

    body {
        font-family: Arial;
        font-size: 12px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    header {
        margin-bottom: 5mm;
    }
    td,th{
      font-size: 9pt;
    }

    header table th.titleColumn {
        width: 50%;
    }

    header table th.numberTextColumn,
    header table th.numberColumn {
        width: 25%;
        text-align: right;
    }

    div.accountOwner {
        margin-bottom: 5mm;
    }

    div.bankRib {
      
        width: 45%;
        background-color: #eeeeee;
        margin-bottom: 10mm;
    }

    div.bankRib table {
        font-size: 12px;
        border-collapse: separate;
        border-spacing: 2mm;
    }

    div.bankRib table td {
        font-size: 12px;
        white-space: nowrap;
    }

    div.bankInformation {
      font-size: 12px;
        margin-bottom: 10mm;
    }

    div.bankInformation table td {
      font-size: 12px;
        width: 50%;
        vertical-align: top;
    }

    div.currency {
      font-size: 12px;
        width: 45%;
        background-color: #eeeeee;
        margin-bottom: 2mm;
        text-align: center;
    }

    div.currency > div {
        padding: 2mm;
    }

    div.payments table thead th,
    div.payments table tbody td {
        border: solid 0.1pt #000000;
    }

    div.payments table th,
    div.payments table td {
        padding: 2mm;
    }

    div.payments table th.payerColumn,
    div.payments table td.payerColumn {
        width: 45%;
    }

    div.payments table th.amountColumn,
    div.payments table td.amountColumn {
        width: 15%;
    }

    div.payments table td.amountColumn {
        font-size: 12px;
        text-align: right;
    }

    div.payments table th.checkNumberColumn,
    div.payments table td.checkNumberColumn,
    div.payments table th.checkBankColumn,
    div.payments table td.checkBankColumn {
        font-size: 12px;
        width: 20%;
    }

    div.payments table td.paymentChoiceCount {
        font-size: 12px;
        text-align: right;
    }

    div.payments.noCheckColumn table th.payerColumn,
    div.payments.noCheckColumn table td.payerColumn {
        font-size: 12px;
        width: 85%;
    }

    div.payments.noCheckColumn table th.checkNumberColumn,
    div.payments.noCheckColumn table td.checkNumberColumn,
    div.payments.noCheckColumn table th.checkBankColumn,
    div.payments.noCheckColumn table td.checkBankColumn {
        font-size: 12px;
        display: none;
    }

    div.paymentDetails table td {
        font-size: 12px;
        padding: 2mm;
    }

    div.paymentDetails table td.amountTotalTitleColumn {
        font-size: 12px;
        text-align: right;
    }

    div.paymentDetails table td.amountTotalColumn {
        font-size: 12px;
        width: 15%;
        text-align: right;
    }

    </style>
</head>
<body>
  <header>
    <table>
      <tbody>
        <tr>
          <th class='titleColumn'>{{slipCheck.label}}</th>
          <th class='numberTextColumn'>N°</th>
          <th class='numberColumn'>{{slipCheck.number}}</th>
        </tr>
      </tbody>
    </table>
  </header>
  <div class='accountOwner'>
    <div>
      Titulaire du compte :
    </div>
    <div>
      {{#if (isEmpty slipCheck.libraryBank.user)}}
        {{slipCheck.libraryBank.group.name}}
      {{else}}
        Docteur 
        {{slipCheck.libraryBank.user.lastname}} 
        {{slipCheck.libraryBank.user.firstname}}
      {{/if}}
    </div>
  </div>
  <div class='bankRib'>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Code bq.</td>
          <td>Guichet</td>
          <td>Numéro compte</td>
          <td>RIB</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Compte</td>
          <td>
            <strong>{{slipCheck.libraryBank.bankCode}}</strong>
          </td>
          <td>
            <strong>{{slipCheck.libraryBank.branchCode}}</strong>
          </td>
          <td>
            <strong>{{slipCheck.libraryBank.accountNumber}}</strong>
          </td>
          <td>
            <strong>{{slipCheck.libraryBank.bankDetails}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='bankInformation'>
    <table>
      <tbody>
        <tr>
          <td>
            Date:
            {{dateFr slipCheck.createdAt}}
          </td>
          <td>
            <div>
              {{slipCheck.libraryBank.name}}
            </div>
            {{#if (notEmpty slipCheck.libraryBank.address)}}
              <div>
                <div>
                  {{slipCheck.libraryBank.address.street}}
                </div>
                <div>
                  {{slipCheck.libraryBank.address.zipCode}}
                  {{slipCheck.libraryBank.address.city}}
                </div>
              </div>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='currency'>
    <div>
      <strong> Versement en {{#if slipCheck.libraryBank.currency}}{{slipCheck.libraryBank.currency}}{{else}}EUR{{/if}}</strong>
    </div>
  </div>
  <div class="payments {{#if (checkPaymentChoice slipCheck.paymentChoice)}} noCheckColumn {{/if}}">
    <table>
      <thead>
        <tr>
          <th class='payerColumn' colspan='2'>Émetteur</th>
          <th class='checkBankColumn'>Banque</th>
          <th class='checkNumberColumn'>N° Chèque</th>
          <th class='amountColumn'>Montant</th>
        </tr>
      </thead>
      <tbody>
        {{#each slipCheck.cashings}}
          <tr>
            <td class='payerColumn' colspan='2'>{{#if this.debtor}} {{this.debtor}} {{else}} {{this.contact.lastname}} {{this.contact.firstname}}{{/if}}</td>
            <td class='checkBankColumn'>{{this.checkBank}}</td>
            <td class='checkNumberColumn'>{{this.checkNumber}}</td>
            <td class='amountColumn'>{{amountCurrency this.amount ../slipCheck.libraryBank.currency}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class='paymentDetails'>
    <table>
      <tbody>
        <tr>
          <td class='paymentChoiceColumn'>{{count slipCheck.cashings}}
            {{slipCheck.paymentChoice}}</td>
          <td class='amountTotalTitleColumn'>Montant total de la remise :</td>
          <td class='amountTotalColumn'>{{amountCurrency slipCheck.amount slipCheck.libraryBank.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>