
<page
  style='position:relative'
  backtop='90mm'
  backbottom='10mm'
  orientation='paysage'
>

  <table id='prestations' cellspacing='0'>
    <col style='width: 60%;' />
    <col style='width: 10%;' />
    <col style='width: 15%;' />
    <col style='width: 15%;' />
    <thead>
      <tr>
        <th class='has-border text-center'>Désignation</th>
        <th class='has-border text-center'>Cotation</th>
        <th class='has-border text-center'>Remb. SS</th>
        <th class='text-center'>Honoraire</th>
      </tr>
    </thead>
    <tbody>
      <!-- Liste des soins -->
      {{#each prestations}}
        {{#if this.operation}}
          <tr class='operation'>
            <td class='has-border'>
              <div>
                {{this.descriptionLigne}}
              </div>
              {{#if this.descriptive_text}}
                <div>
                  {{this.descriptive_text}}
                </div>
              {{/if}}
            </td>
            <td class='has-border text-center'>{{this.cotation}}</td>
            <td class='has-border text-right'>{{this.secuRepayment}}</td>
            <td class='text-right'>{{this.prestation.prixLigne}}</td>
          </tr>
        {{else if this.ligneSeparation}}
          <tr class='ligneSeparation ligneSeparationTop'>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td></td>
          </tr>
          <tr class='ligneSeparation ligneSeparationBottom'>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td></td>
          </tr>
        {{else if this.ligneBlanche}}
          <tr class='ligneBlanche'>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td class='has-border'></td>
            <td></td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <div style='margin-bottom: 5mm;'>
    <table class='table total'>
      <col style='width: 70%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
      <tfoot>
        <tr>
          <th class='text-right'>Total (En euros)</th>
          <th class='text-right'>{{amount_repaid}}</th>
          <th class='text-right'>{{amount}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style='margin-bottom: 5mm;'>
    {{description}}
  </div>
  <table>
    <col style='width: 48%;' />
    <col style='width: 4%;' />
    <col style='width: 48%;' />
    <tbody>
      <tr>
        <td class='signature'>
          <div>
            Bon pour accord<br />
            Date et signature du patient ou de son représentant légal
          </div>
          {{#if patient.signature}}
            <div>
              <img src='{{patient.signature}}' style='max-height: 150px;' />
            </div>
          {{/if}}
        </td>
        <td></td>
        <td class='signature'>
          <div>
            Signature du praticien
          </div>
          {{#if doctor.signature}}
            <div>
              <img src='{{doctor.signature}}' style='max-height: 150px;' />
            </div>
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>
</page>