
<style type="text/css">
	#logo, #details {
		height: 30mm;
	}
	
	#logo {
		text-align: center;
	}
	
	#details div {
		text-align: right;
	}
	
	#details div strong {
		font-size: 14px;
	}
	
	#doctor, #patient {
		height: 35mm;
		padding: 2mm;
		overflow: hidden;
	}
	
	#doctor {
		background-color: {{ color }};
	}
	
	#patient {
		border: solid 1px #999999;
	}
	
	.barcode {
		padding: 3mm;
	}
	
	.barcode .label {
		font-size: 3mm;
	}
	
	.barcode barcode {
		font-size: 3mm;
		height: 4mm;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	table td,
	table th {
		vertical-align: top;
	}
	
	table#prestations tbody td,
	table#prestations thead th,
	table#total tfoot th {
		padding: 2mm 1mm;
	}
	
	#prestations {
		border-collapse: separate;
		border: solid 1px #999999;
		font-size: 12px;
	}
	
	#prestations thead th {
		border-bottom: solid 1px #999999;
	}
	
	#prestations thead th.has-border,
	#prestations tbody td.has-border {
		border-right: solid 1px #999999;
	}
	
	#prestations tbody tr.ligneBlanche td {
		height: 5mm;
		padding: 0;
	}
	
    #prestations tbody tr.ligneSeparation td {
        height: 2.5mm;
        padding: 0;
    }

    #prestations tbody tr.ligneSeparationTop td {
        border-bottom: solid 1px #999999;
    }

    table.table td,
    table.table th {
        padding: 2mm;
        border: solid 1px #999999;
    }

    table.total {
        margin-top: 2mm;
    }

    table.total th {
        border: 0;
        background-color: {{ color }};
    }
	
	.text-center {
		text-align: center;
	}
	
	.text-right {
		text-align: right;
    }

    .odontogram {
        margin: 2mm 0;
    }

    .odontogram .label {
        margin-bottom: 1mm;
    }

    .odontogram .label,
    .odontogram .content {
        text-align: center;
    }
    
    .duplicata {
        height: 20mm;
        text-align: center;
        vertical-align: middle;
        color: red;
        font-weight: 600;
        font-size: 20px;
    }

    .signature {
        height: 25mm;
    }

    .rotate-90 {
        rotate: 90;
    }

    .rotate-180 {
        rotate: 180;
    }

    .rotate-270 {
        rotate: 270;
    }

</style>
<page
  style='position:relative'
  backtop="90mm"
  backbottom="10mm"
  orientation='paysage'
>
    <div>
		<table>
			<col style="width: 48%;" />
			<col style="width: 4%;" />
			<col style="width: 48%;" />
			<tbody>
				<tr>
					<td id="logo">
                        {{#if logo}}
						<img src="{{ logo.src }}" alt="Logo" style="width: {{ logo.width }}px; height: {{ logo.height }}px;" />
						{{/if}}
					</td>
					<td></td>
					<td id="details">
						<div>
							<strong>{{ label }}</strong>
						</div>
						<div>
							<strong>Référence : {{ reference }}</strong>
						</div>
						<div>
							Date : {{ date }}
						</div>
                        {{#if duration}}
                        <div>
                          Durée de validité : {{ duration }} mois
                        </div>
                        {{/if}}
						<div>
							Code patient : {{ patient.number }}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="doctor">
							<!-- praticien -->
							<div>
								<strong>{{ doctor.details }}</strong>
							</div>
							<div>
								{{ doctor.address_details }}
							</div>
						</div>
					</td>
					<td></td>
					<td>
						<div id="patient">
							<!-- patient -->
							{{ patient.details }}
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="barcode">
						<!-- code barre -->
                        {{#if doctor.rpps}}
						<div class="label">N° RPPS</div>
						<barcode type="C128A" value="{{ doctor.rpps }}" label="label"></barcode>
						{{/if}}
					</td>
                    <td>
                        {{#if duplicata}}
                        <div class="duplicata">
                            Duplicata
                        </div>
                        {{/if}}
                    </td>
				</tr>
			</tbody>
		</table>
    </div>
    <table id="prestations" cellspacing="0">
        <col style="width: 60%;" />
        <col style="width: 10%;" />
        <col style="width: 15%;" />
        <col style="width: 15%;" />
        <thead>
            <tr>
                <th class="has-border text-center">Désignation</th>
                <th class="has-border text-center">Cotation</th>
                <th class="has-border text-center">Remb. SS</th>
                <th class="text-center">Honoraire</th>
            </tr>
        </thead>
        <tbody>
            <!-- Liste des soins -->
            {{#each prestations }}
            {{#if this.operation }}
            <tr class="operation">
                <td class="has-border">
                    <div>
                        {{ this.descriptionLigne}}
                    </div>
                    {{#if this.descriptive_text}}
                        <div>
                            {{ this.descriptive_text }}
                        </div>
                    {{/if}}
                </td>
                <td class="has-border text-center">{{ this.cotation }}</td>
                <td class="has-border text-right">{{ this.secuRepayment}}</td>
                <td class="text-right">{{ this.prestation.prixLigne }}</td>
            </tr>
            {{else if this.ligneSeparation }}
            <tr class="ligneSeparation ligneSeparationTop">
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td></td>
            </tr>
            <tr class="ligneSeparation ligneSeparationBottom">
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td></td>
            </tr>
            {{else if this.ligneBlanche}}
            <tr class="ligneBlanche">
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td class="has-border"></td>
                <td></td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    <div style="margin-bottom: 5mm;">
        <table class="table total">
            <col style="width: 70%;" />
            <col style="width: 15%;" />
            <col style="width: 15%;" />
            <tfoot>
                <tr>
                    <th class="text-right">Total (En euros)</th>
                    <th class="text-right">{{ amount_repaid}}</th>
                    <th class="text-right">{{ amount}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="margin-bottom: 5mm;">
        {{ description }}
    </div>
    <table>
        <col style="width: 48%;" />
        <col style="width: 4%;" />
        <col style="width: 48%;" />
        <tbody>
            <tr>
                <td class="signature">
                    <div>
                        Bon pour accord<br />
                        Date et signature du patient ou de son représentant légal
                    </div>
                    {{#if patient.signature}}
                    <div>
                        <img src="{{ patient.signature }}" style="max-height: 150px;" />
                    </div>
                {{/if}}
                </td>
                <td></td>
                <td class="signature">
                    <div>
                    Signature du praticien
                    </div>
                    {{#if doctor.signature}}
                    <div>
                        <img src="{{ doctor.signature }}" style="max-height: 150px;" />
                    </div>
                    {{/if}}
                </td>
            </tr>
        </tbody>
    </table>
</page>