<div style='page-break-after: always;'></div>
<page>
  <div>
    <table>
      <col style='width: 48%;' />
      <col style='width: 4%;' />
      <col style='width: 48%;' />
      <tbody>
        <tr>
          <td id='logo'>
            {{#if logo}}
              <img
                src='{{logo.src}}'
                alt='Logo'
                style='width: {{logo.width}}px; height: {{logo.height}}px;'
              />
            {{/if}}
          </td>
          <td></td>
          <td id='details'>
            <div>
              <strong>{{label}}</strong>
            </div>
            <div>
              <strong>Référence : {{reference}}</strong>
            </div>
            <div>
              Date :
              {{date}}
            </div>
            {{#if duration}}
              <div>
                Durée de validité :
                {{duration}}
                mois
              </div>
            {{/if}}
            <div>
              Code patient :
              {{patient.number}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id='doctor'>
              <!-- praticien -->
              <div>
                <strong>{{doctor.details}}</strong>
              </div>
              <div>
                {{doctor.address_details}}
              </div>
            </div>
          </td>
          <td></td>
          <td>
            <div id='patient'>
              <!-- patient -->
              {{patient.details}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan='2' class='barcode'>
            <!-- code barre -->
            {{#if doctor.rpps}}
             <div class='label'>N° RPPS</div>
              <div>
                <img
                  src='{{doctor.imgRppsNumber}}'
                  style='height:15px; width:175px; padding: 5px 0px;'
                />
                <p style="width: 150px; letter-spacing: 15px; font-size: 9pt; margin-top:-5px;">
                    {{doctor.rpps}}
                </p>
              </div>
            {{/if}}
          </td>
          <td>
            {{#if duplicata}}
              <div class='duplicata'>
                Duplicata
              </div>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{#if odontogram.initial}}
    <div class='odontogram'>
      <div class='label'>"Schéma initial"</div>
      <div class='content' style='height: 300px;'>
        {{{odontogram.initial}}}
      </div>
    </div>
  {{/if}}
  {{#if odontogram.current}}
    <div class='odontogram'>
      <div class='label'>"Schéma actuel"</div>
      <div class='content' style='height: 300px;'>
        {{{odontogram.current}}}
      </div>
    </div>
  {{/if}}
</page>

{{#if odontogram.planned}}
  <div style='page-break-after: always;'></div>
  <page>
    <div>
      <table>
        <col style='width: 48%;' />
        <col style='width: 4%;' />
        <col style='width: 48%;' />
        <tbody>
          <tr>
            <td id='logo'>
              {{#if logo}}
                <img
                  src='{{logo.src}}'
                  alt='Logo'
                  style='width: {{logo.width}}px; height: {{logo.height}}px;'
                />
              {{/if}}
            </td>
            <td></td>
            <td id='details'>
              <div>
                <strong>{{label}}</strong>
              </div>
              <div>
                <strong>Référence : {{reference}}</strong>
              </div>
              <div>
                Date :
                {{date}}
              </div>
              {{#if duration}}
                <div>
                  Durée de validité :
                  {{duration}}
                  mois
                </div>
              {{/if}}
              <div>
                Code patient :
                {{patient.number}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div id='doctor'>
                <!-- praticien -->
                <div>
                  <strong>{{doctor.details}}</strong>
                </div>
                <div>
                  {{doctor.address_details}}
                </div>
              </div>
            </td>
            <td></td>
            <td>
              <div id='patient'>
                <!-- patient -->
                {{patient.details}}
              </div>
            </td>
          </tr>
          <tr>
            <td colspan='2' class='barcode'>
              <!-- code barre -->
              {{#if doctor.rpps}}
                <div class='label'>N° RPPS</div>
                <div>
                    <img
                    src='{{doctor.imgRppsNumber}}'
                    style='height:15px; width:175px; padding: 5px 0px;'
                    />
                    <p style="width: 150px; letter-spacing: 15px; font-size: 9pt; margin-top:-5px;">
                        {{doctor.rpps}}
                    </p>
                </div>
              {{/if}}
            </td>
            <td>
              {{#if duplicata}}
                <div class='duplicata'>
                  Duplicata
                </div>
              {{/if}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='odontogram'>
      <div class='label'>"Schéma à venir"</div>
      <div class='content' style='height: 300px;'>
        {{{odontogram.planned}}}
      </div>
    </div>
  </page>
{{/if}}