<style type='text/css'>
  table.payment-schedule th, table.payment-schedule td { padding: 2mm; border:
  solid 1px #999999; } table.payment-schedule th.due-date,
  table.payment-schedule td.due-date { width: 80%; } table.payment-schedule
  th.amount, table.payment-schedule td.amount { width: 20%; text-align: right; }
</style>
<div>
  <h1 style='font-size: 12pt; text-align: center;'>
    <strong>Modalités de règlement du devis du
      {{date}}
      - réf :
      {{reference}}</strong>
  </h1>
  <div style='margin: 5mm 0;'>
    {{patient.civility.long_name}}
    {{patient.lastname}}
    {{patient.firstname}}
    {{#if this.patient.insee}}
      ({{patient.insee}})
    {{/if}}
    s'engage à régler la somme de 
    {{paymentSchedule.amount}}€
    selon les échéances indiquées ci-dessous.
  </div>
  <div>
    <table class="payment-schedule">
        <thead>
            <tr>
                <td class="due-date">Échéance</td>
                <td class="amount">Montant</td>
            </tr>
        </thead>
        <tbody>
            {{#each paymentSchedule.lines}}
          
            <tr>
                <td class="due-date">{{ this.date}}</td>
                <td class="amount">{{ this.amount }}</td>
            </tr>
           {{/each}}
            <tr>
                <th class="due-date">Total (En euros)</th>
                <th class="amount">{{ paymentSchedule.amount}}</th>
            </tr>
        </tbody>
    </table>
</div>
</div>