<style>
  @page { margin: 5mm; padding: 0; } body { font-family: Arial; font-size: 12px;
  } hr { margin: 5mm 0; border-top: 0.1pt solid #000000; border-bottom: 0.1pt
  solid #ffffff; } h1 { font-size: 14px; text-align: center; } table { width:
  100%; border-collapse: collapse; } table td, table th { padding:
  2mm;font-size: 12px; vertical-align: top; } table.bordered td, table.bordered
  th { border: solid 0.1pt #000000; } .text-center { text-align: center; }
  .text-right { text-align: right; } div.organization { display: inline-block;
  padding: 3mm 5mm; background-color: #eeeeee; }

</style>
{{setVar 'currency' user.setting.currency}}
<h1>
  Bordereau de télétransmission
</h1>
<hr />
<div style='margin-bottom: 5mm; padding: 0 5mm;'>
  <div>
    {{user.medical.lastName}} 
    {{user.medical.firstName}}
  </div>
  <div>
    {{user.medical.specialtyCode.label}}
  </div>
  {{#if user.address}}
    <div>
      {{user.address.street}}
      <br />
      {{user.address.zipCode}}
      {{user.address.city}}
    </div>
  {{/if}}
  <div>
    Numéro de facturation:
    {{user.medical.finessNumber}}
  </div>
  <div>
    Lot
    {{lot.number}}
    créé le
    {{lot.creationDate}}
  </div>
  {{#if lot.sendingDate}}
    <div>
      Date d'envoi du lot:
      {{lot.sendingDate}}
    </div>
  {{/if}}
</div>
<div style='margin-bottom: 5mm;'>
  <div class='organization'>
    <div>
      <strong>Organisme destinataire</strong>
    </div>
    <div>
      {{#if lot.amo}}
        {{lot.amo.libelle}}
        ({{lot.amo.grandRegime}}
        {{lot.amo.caisseGestionnaire}}
        {{lot.amo.centreGestionnaire}})
      {{else}}
        {{lot.amc.libelle}}
        ({{lot.amc.numero}})
      {{/if}}
    </div>
  </div>
</div>
<table class='bordered'>
  <thead>
    <tr>
      <th style='width: 8%;'>Facture</th>
      <th style='width: 8%;'>Date</th>
      <th style='width: 13%;'>NIR</th>
      <th>Bénéficiaire</th>
      <th style='width: 10%;'>Naissance</th>
      <th style='width: 10%;'>Montant</th>
      <th style='width: 10%;'>Caisse</th>
      <th style='width: 10%;'>Mutuelle</th>
      <th style='width: 10%;'>Assuré</th>
    </tr>
  </thead>
  <tbody>
    {{setVar 'amountPatient' 0}}
    {{#each lot.caresheets}}
      {{setVar 'amountPatient' (math @root.amountPatient '+' amountAssure)}}
      <tr>
        <td class='text-center'>{{nbr}}</td>
        <td class='text-center'>{{formatDateISO date}}</td>
        <td class='text-center'>{{ formatInsee this.patient.insee this.patient.inseeKey }} </td>
        <td>{{this.patient.lastname}} {{this.patient.firstname}}</td>
        <td class='text-center'>{{ formatDateISO this.patient.birthday }}</td>
        <td class='text-right'>{{amount}} {{../currencyy}}</td>
        <td class='text-right'>{{amountAMO}} {{../currencyy}}</td>
        <td class='text-right'>{{amountAMC}} {{../currencyy}}</td>
        <td class='text-right'>{{amountAssure}} {{../currencyy}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan='5'>
        <strong>
          {{#if (eq count 0)}} 
          LOT ne contenant aucune facture
          {{else if (eq count 1)}}
          LOT de 1 facture
          {{else}}
          LOT de {{count}} factures
          {{/if}}
        </strong>
      </td>
      <td class='text-right'>
        <strong>{{lot.amount}} {{currencyy}}</strong>
      </td>
      <td class='text-right'>
        <strong>{{lot.amountAmo}} {{currencyy}}</strong>
      </td>
      <td class='text-right'>
        <strong>{{lot.amountAmc}} {{currencyy}}</strong>
      </td>
      <td class='text-right'>
        <strong>{{@root.amountPatient}} {{currencyy}}</strong>
      </td>
    </tr>
  </tfoot>
</table>