<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votre courrier</title>
</head>

<body>
  <p>Madame, Monsieur,</p>
  <p>Veuillez trouver ci-joint votre {{ mail.title }}.</p>
  <p>
    Cordialement,<br />
    Dr {{ fullName }}<br />
    {{#if mail?.user?.address }}
    {{~ mail?.user?.address?.street }}<br />
    {{ mail?.user?.address?.zipCode ' ' mail?.user?.address?.city}}<br />
    {{/if}}
    {{#if mail?.user?.phoneNumber}}
    {{mail?.user?.phoneNumber}}
    {{/if}}
  </p>
</body>

</html>