<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Votre devis</title>
    </head>
    <body>
        <p>Madame, Monsieur,</p>
        <p>Veuillez trouver ci-joint votre devis du {{date}}.</p>
        <p>
            Cordialement,<br />
            Dr {{userFullName}}<br />
            {{#if (isset data.user.address)}}
              {{data.user.address.street }}<br />
              {{ data.user.address.zipCode}} {{data.user.address.city}}<br />
            {{/if}}
            {{#if (isset data.user.phoneNumber)}}
              {{data.user.phoneNumber}}
            {{else}}
              {{data.user.setting.country }}
            {{/if}}
        </p>
    </body>
</html>